<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar" sty>
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <a href="/new" class="w3-bar-item w3-button">내 일정</a>
    <a href="/memo" class="w3-bar-item w3-button">메모</a>
    <a href="/day" class="w3-bar-item w3-button">D-DAY</a>
    <a href="/myPage" class="w3-bar-item w3-button">마이페이지</a>
</div>

<!-- Page Content -->
<div class="w3-teal" style="background-color: white !important">
    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()" style="background-color:white !important; color:#eeb244 !important">☰</button>
</div>
